In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('data/test_data.csv',index_col='ID')
data.head()

,area,rentType,houseType,houseFloor,totalFloor,houseToward,houseDecoration,communityName,city,region,...,tradeLandArea,landTotalPrice,landMeanPrice,totalWorkers,newWorkers,residentPopulation,pv,uv,lookNum,tradeTime
ID,,,,,,,,,,,,,,,,,,,,,
100000079,36.54,未知方式,1室1厅1卫,高,21,西北,其他,XQ03867,SH,RG00012,...,0.00,0,0.0,41503,319,301635,1601.0,397.0,2,2018/10/25
100000138,64.00,未知方式,2室1厅1卫,高,11,南北,其他,XQ00821,SH,RG00002,...,0.00,0,0.0,4370,0,306857,21123.0,3066.0,0,2018/8/19
100000192,98.00,未知方式,3室1厅1卫,高,6,暂无数据,精装,XQ00842,SH,RG00002,...,0.00,0,0.0,4370,0,306857,17471.0,2554.0,0,2018/3/4
100000200,43.45,未知方式,1室1厅1卫,高,6,暂无数据,其他,XQ00786,SH,RG00002,...,0.00,0,0.0,4370,0,306857,19231.0,2016.0,0,2018/2/3
100000430,92.00,未知方式,2室2厅1卫,高,6,暂无数据,其他,XQ01201,SH,RG00002,...,237828.35,1078790000,4536.0,20904,0,245872,26189.0,2957.0,0,2018/3/14